.counter{
    border-radius:50%;
    border: thin black solid; 
    /* position: absolute;  */

}
body{
    background-color: aquamarine;
}

.wood{
    background-image: url(images/wood.jpg);
    background-size: cover;
    height: 95px;
    width: 80px;
}

.rod{
    position: absolute; 
    top: 36px; 
    z-index: -10; 
    border: thick solid black; 
    width: 100%; 
}
