.counter{
    border-radius:50%;
    border: thin black solid; 
}

body{
    background-image: url(images/pinkBackdrop.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
}

.wood{
    background-image: url(images/wood.jpg);
    background-size: cover;
    height: 95px;
    width: 80px;
}

.rod{
    position: absolute; 
    z-index: -10; 
    border: thick solid black; 
    width: 100%; 
    height: 1px; 
    background-color: black; 
}


.beads{
    display: flex; 
    align-items: center;
    z-index: 30; 
}

#abacus {
    min-width: 375px; 
    overflow: scroll; 
}

#count {
    font-size: 6rem; 
}

.countStar {
    width: 50px; 
}

.star{
    background-color: #f4f4f4; 
    border: thick goldenrod solid; 
}

.top{
    background-color: #f4f4f4;
}